.top-logo-container {
  padding: 1rem 0 0 1rem;
  margin-bottom: 1.5rem;
}

.col-12, .col-lg-7, .col-lg-5 {
  padding-top: 0;
  margin-top: 0;
}

.form-custom {
  width: 80%;
  margin-bottom: 10%;
}

.login-custom {
  background-color: #f5f5f5;
}

.h1 {
  color: rgb(19, 47, 159);
  font-size: 22px;
}

::ng-deep .mat-form-field-outline {
  border-radius: 10px !important;
}
.rounded-form-field .mat-input-element {
  border-radius: 10px;
}

@media (max-width: 992px) {
  .login-custom {
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  .form-custom {
    width: 90%;
  }
}
