<nav class="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler me-auto" type="button" (click)="toggleMenu()" aria-controls="sidebarMenu" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <button class="btn btn-outline-danger logout-btn d-flex align-items-center gap-2" (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
  </div>
</nav>

<div class="sidebar-menu" [class.active]="isMenuOpen" id="sidebarMenu">

  <div class="sidebar-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="toggleMenu()"></button>
  </div>

  <div class="sidebar-logo-container">
    <img src="../../../assets/ford.png" alt="Logo Ford" class="sidebar-logo">
  </div>

  <ul class="list-unstyled components">
    <li><a routerLink="/home" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/dashboard" (click)="toggleMenu()">Dashboard</a></li>
    <li><a routerLink="/login" (click)="toggleMenu()">Login</a></li>
  </ul>
</div>

<div class="overlay" [class.active]="isMenuOpen" (click)="toggleMenu()"></div>
