<div
  class="container-fluid d-flex flex-column min-vh-100 p-4 dashboard-container"
>
  <h2 class="text-primary fw-bold text-center pb-3 mb-4 fs-3">
    Dashboard FORD
  </h2>

  <div class="row justify-content-center g-3 mb-4 flex-wrap">
    <div class="col-6 col-md-3">
      <div class="card custom-card h-100">
        <div class="card-header text-center">
          <h3 class="custom-title pt-3">Veículo</h3>
        </div>
        <div class="card-body d-flex align-items-center justify-content-center">
          <select class="form-select w-100 mt-2 custom-option custom-select text-center">
            <option class="custom-option" selected disabled>Selecione</option>
            <option class="custom-option">Mustang</option>
            <option class="custom-option">Ranger</option>
            <option class="custom-option">Territory</option>
            <option class="custom-option custom-select">Bronco Sport</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card custom-card h-100">
        <div class="card-header text-center">
          <h3 class="custom-title pt-3">Vendas</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title custom-number text-center">1500</h5>
          <p class="card-text custom-text text-center">Unid.</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card custom-card h-100">
        <div class="card-header text-center">
          <h3 class="custom-title pt-3">Conectados</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title custom-number text-center">500</h5>
          <p class="card-text custom-text text-center">Unid.</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-3">
      <div class="card custom-card h-100">
        <div class="card-header text-center">
          <h3 class="custom-title pt-3">Atualizados</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title custom-number text-center">750</h5>
          <p class="card-text custom-text text-center">Unid.</p>
        </div>
      </div>
    </div>

    <div class="text-center mb-4 pt-3">
      <img src="../../assets/mustang.png" alt="Veículo" class="img-fluid" />
    </div>

    <div class="mt-auto">
      <div class="table-responsive d-none d-lg-block">
        <table mat-table [dataSource]="dados" class="mat-elevation-z2 custom-mat-table">

          <ng-container matColumnDef="vin">
            <th mat-header-cell *matHeaderCellDef> Código - Vin </th>
            <td mat-cell *matCellDef="let element" data-label="Código - Vin"> {{ element.vin }} </td>
          </ng-container>

          <ng-container matColumnDef="odometro">
            <th mat-header-cell *matHeaderCellDef> Odômetro </th>
            <td mat-cell *matCellDef="let element" data-label="Odômetro"> {{ element.odometro }} </td>
          </ng-container>

          <ng-container matColumnDef="combustivel">
            <th mat-header-cell *matHeaderCellDef> Nível de Combustível </th>
            <td mat-cell *matCellDef="let element" data-label="Nível de Combustível"> {{ element.combustivel }} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element" data-label="Status"> {{ element.status }} </td>
          </ng-container>

          <ng-container matColumnDef="lat">
            <th mat-header-cell *matHeaderCellDef> Lat. </th>
            <td mat-cell *matCellDef="let element" data-label="Lat."> {{ element.lat }} </td>
          </ng-container>

          <ng-container matColumnDef="long">
            <th mat-header-cell *matHeaderCellDef> Long. </th>
            <td mat-cell *matCellDef="let element" data-label="Long."> {{ element.long }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

      <div class="d-lg-none">
        <div class="border rounded p-3 mb-3 bg-white">
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">
            Código - Vin
          </p>
          <p>2FRHDUYS2Y63NHD22454</p>
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">
            Odômetro
          </p>
          <p>50000 Km</p>
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">
            Nível de Combustível
          </p>
          <p>90%</p>
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">Status</p>
          <p>on</p>
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">Lat.</p>
          <p>-12.2322</p>
          <p class="fw-bold custom-title-table text-white px-2 py-1 rounded">Long.</p>
          <p>-35.2314</p>
        </div>
      </div>
    </div>
  </div>
</div>
