.bg-image-container {
  background-image: url('../../assets/ranger.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: calc(100vh - 100px);
}
.custom-card {
  width: 60%;
  min-height: 400px;
  background-color: rgba(255, 255, 255, 0.475);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: solid 3px #d6d6d6ba;
  border-radius: 0.5rem;
  padding: 2rem;
}
.custom-title {
  font-weight: 500;
  font-size: 16px;
  color: #214381f4;
}
.card-header {
  border: 1px solid #27272779;
  border-radius: 0.5rem;
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .custom-card {
    width: 95%;
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.322);
    backdrop-filter: blur(2px);
  }
}